/* Section */
.portfolio10-portfolio-section {
    width: 100%;
    padding: 80px 200px;
    background: #f7f8fc;
    /* border: 2px solid black; */
}

.portfolio10-portfolio-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.portfolio10-portfolio-title {
    font-size: 38px;
    font-weight: bold;
    color: #222;
}

.portfolio10-portfolio-subtitle {
    color: #666;
    font-size: 15px;
    max-width: 500px;
    margin: 15px auto 40px;
}

/* Grid */
.portfolio10-portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 25px;
}

/* Card */
.portfolio10-portfolio-card {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #E6E8EB;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.portfolio10-portfolio-card:hover {
    box-shadow: 0px 4px 32px #1C1919;
}

.portfolio10-portfolio-image {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.portfolio10-portfolio-content {
    text-align: left;
    padding: 18px 20px 25px;
}

.portfolio10-portfolio-category {
    font-size: 11px;
    font-weight: bold;
    color: #777;
}

.portfolio10-portfolio-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    margin-top: 3px;
}

.portfolio10-portfolio-desc {
    font-size: 13px;
    color: #6b6b6b;
    margin: 8px 0 15px;
    line-height: 1.4;
}

/* Button in card */
.portfolio10-portfolio-btn {
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
    background: #ffffff;
    border: 1px solid #A53DFF;
    color: #A53DFF;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portfolio10-portfolio-btn:hover {
    border-color: #8431CC;
    color: #8431CC;
}

/* Bottom button */
.portfolio10-more-project-btn {
    margin-top: 40px;
    padding: 10px 28px;
    background: #A53DFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.portfolio10-more-project-btn:hover {
    background: #8431CC;
}