.portfolio10-about-wrapper {
    /* border: 2px solid black; */
    width: 100%;
    padding: 80px 200px;
    background: #F0F1F3;
}

.portfolio10-about-card {
    /* border: 2px solid black; */
    width: 100%;
    height: 500px;
    margin-top: -540px;
    margin-bottom: 100px;
    background: white;
    padding: 80px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.portfolio10-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* Left side image */
.portfolio10-profile-img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    background: #eaebed;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

/* Social icons floating box */
.portfolio10-about-social-box {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: -28px;
    width: fit-content;
    text-align: center;
    /* margin-left: 40px; */
    z-index: 9999;
}

.portfolio10-about-social-box span {
    width: 46px;
    height: 46px;
    /* background: #000; */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio10-about-social-box span:hover {
    background: #A53DFF;
}

.portfolio10-about-social-box span:hover path {
    fill: #E6E8EB;
}

/* Right side text */

.portfolio10-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */

}

.portfolio10-right h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.portfolio10-right p {
    color: #777;
    line-height: 1.6;
}

/* Buttons */
.portfolio10-buttons {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

.portfolio10-primary-btn {
    background: #A53DFF;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.portfolio10-light-btn {
    background: #ffffff;
    border: 1px solid #A53DFF;
    color: #A53DFF;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.portfolio10-primary-btn:hover {
    background: #8431CC;
}

.portfolio10-light-btn:hover {
    border-color: #8431CC;
    color: #8431CC;
}


/* Work Process */
.portfolio10-work-section {
    width: 100%;
    display: flex;
    /* padding: 80px 200px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 150px;
    background-color: #F0F1F3;
}

.portfolio10-work-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    /* justify-content: ; */
}

.portfolio10-work-section-left h2 {
    font-size: 42px;
    color: #0f1a3a;
    margin-bottom: 20px;
}

.portfolio10-work-section-left p {
    color: #6f7a86;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 18px;
}



/* Grid of 4 cards */
.portfolio10-work-grid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 250px);
    gap: 25px;
    margin-top: 20px;
}

.portfolio10-work-card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #E6E8EB;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.portfolio10-work-card:hover {
    box-shadow: 0px 4px 32px #1C1919;

}

.portfolio10-work-card h4 {
    margin: 10px 0 8px;
}

.portfolio10-work-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

/* Icon box */
.portfolio10-icon-bg {
    width: 52px;
    height: 52px;
    padding: 6px;
    border-radius: 10px;
    background-color: #EDD8FF80;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.portfolio10-work-card:hover .portfolio10-icon-bg {

    background: #A53DFF;
}

.portfolio10-work-card:hover .portfolio10-icon-bg svg path {

    fill: #edd8ff;
}