.portfolio10-calltoaction-section {
    width: 100%;
    padding: 100px 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 32px; */
    background: #132238;
    /* border: 2px solid black; */
}

.portfolio10-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 32px;
    max-width: 800px;

}

.portfolio10-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    /* align-self: center; */
    color: #FFFFFF;
}

.portfolio10-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #A5ACB5;
    max-width: 650px;
}

.portfolio10-calltoaction-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background: #A53DFF;
    padding: 14px 32px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

.portfolio10-calltoaction-btn:hover {
    background: #8431CC;
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
    .portfolio10-heading {
        font-size: 40px;
        line-height: 50px;
    }

    .portfolio10-desc {
        font-size: 17px;
        line-height: 26px;
    }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    .portfolio10-calltoaction-section {
        padding: 60px 20px;
    }

    .portfolio10-heading {
        font-size: 32px;
        line-height: 40px;
    }

    .portfolio10-desc {
        font-size: 15px;
        line-height: 22px;
    }

    .portfolio10-calltoaction-btn {
        padding: 12px 26px;
        font-size: 15px;
    }
}

/* Small Mobile (max-width: 480px) */
@media (max-width: 480px) {

    .portfolio10-heading {
        font-size: 28px;
        line-height: 34px;
    }

    .portfolio10-desc {
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio10-calltoaction-btn {
        width: 100%;
        max-width: 260px;
        padding: 12px 20px;
    }
}