.portfolio10-contact-wrapper {
    width: 100%;
    padding: 80px 200px;
    display: flex;
    justify-content: center;
    margin-bottom: -120px;
    /* border: 2px solid black; */
}

.portfolio10-contact-card {
    background: white;
    width: 100%;
    border-radius: 18px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

/* LEFT SIDE */
.portfolio10-contact-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.portfolio10-contact-left h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.portfolio10-contact-left p {
    color: #6f7a86;
    font-size: 15px;
    margin-bottom: 20px;
}

/* INFO BOX */

.portfolio10-contact-left-lower {
    background: white;
    padding: 20px;
    /* width: 360px; */
    border-radius: 12px;
    /* box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.1); */
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.portfolio10-info-item {
    display: flex;
    /* justify-content: center; */
    gap: 15px;
    /* align-items: center; */
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    padding: 15px;
    width: 75%;
}

.portfolio10-info-item:hover {
    box-shadow: 0px 2px 52px #1c191980;
}

.portfolio10-info-item:last-child {
    margin-bottom: 0;
}

.portfolio10-contact-icon {
    background: #EDD8FF80;
    width: 46px;
    height: 46px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}


.portfolio10-label {

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 16px; */
    /* line-height: 1.3; */
}




.portfolio10-label span {
    font-size: 13px;
    color: #6f7a86;
    /* margin-top: 14px; */
}

.portfolio10-label p {
    font-size: 15px;
    color: #000000;
}

.portfolio10-info-item:hover .portfolio10-contact-icon {
    background: #A53DFF;
}

.portfolio10-info-item:hover .portfolio10-contact-icon svg path {
    fill: #edd8ff;
}

/* SOCIAL ICONS */
.portfolio10-social-row {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.portfolio10-contact-social-icon {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background: #ffffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio10-contact-social-icon:hover {

    background: #A53DFF;

}

.portfolio10-contact-social-icon:hover svg path {

    fill: #fcf9fe;

}

/* RIGHT SIDE FORM */
.portfolio10-contact-right {
    width: 50%;
}

.portfolio10-contact-right input:focus label {
    color: #A53DFF;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.portfolio10-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.portfolio10-field:focus-within input {
    border-bottom: 2px solid #A53DFF;
}

.portfolio10-field:focus-within label {
    color: #A53DFF;
}

.portfolio10-field:focus-within textarea {
    border-bottom: 2px solid #A53DFF;
}

label {
    font-size: 14px;
    margin-top: 25px;
}

input,
textarea {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 4px;
    font-size: 14px;
    /* margin-top: 3px; */
    outline: none;
}

.portfolio10-row-2 {
    display: flex;
    width: 100%;
    gap: 10px;
}

.portfolio10-row-2 div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.portfolio10-submit-btn {
    margin-top: 50px;
    width: fit-content;
    background: #A53DFF;
    color: white;
    padding: 12px 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
}

.portfolio10-submit-btn:hover {
    background: #8431CC;
}