.portfolio10-blog-section {
    text-align: center;
    width: 100%;
    padding: 80px 200px;
    /* border: 2px solid black; */
}

.portfolio10-blog-title {
    font-size: 40px;
    color: #0f1a3a;
    margin-bottom: 10px;
}

.portfolio10-blog-subtitle {
    color: #6f7a86;
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 1.5;
}

/* Cards Wrapper */
.portfolio10-blog-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

/* Single Card */
.portfolio10-blog-card {
    width: 270px;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #E6E8EB;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.portfolio10-blog-card:hover {
    box-shadow: 0px 4px 32px #1C1919;
}

.portfolio10-blog-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.portfolio10-blog-content {
    padding: 18px;
    text-align: left;
}

.portfolio10-blog-date {
    color: #8a93a3;
    font-size: 13px;
    margin-bottom: 10px;
}

.portfolio10-blog-text {
    color: #0f1a3a;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
}

/* bottom dots */
.portfolio10-blog-dots {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.portfolio10-testimonial-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.portfolio10-dot {
    width: 6px;
    height: 6px;
    background: #ababab;
    border-radius: 8px;
}

.portfolio10-dot.active {
    background: #000000;
    width: 20px;
}