.portfolio10-testimonial-section {
    text-align: center;
    padding: 40px 400px;
    background: transparent;
    /* border: 2px solid black; */
}

.portfolio10-testimonial-section h1 {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 700;
}

.portfolio10-subtitle {
    font-size: 16px;
    color: #8c92a0;
    margin-bottom: 40px;
    line-height: 1.6;
}

.portfolio10-testimonial-text {
    max-width: 900px;
    margin: auto;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.8;
    margin-bottom: 30px;
}

.portfolio10-client-name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.portfolio10-client-role {
    font-size: 15px;
    color: #555;
    margin-bottom: 40px;
}

.portfolio10-testimonial-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.portfolio10-dot {
    width: 6px;
    height: 6px;
    background: #ababab;
    border-radius: 8px;
}

.portfolio10-dot.active {
    background: #000000;
    width: 20px;
}

/* .gradient-blur-4 {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
width: 500px;
height: 500px;
background: radial-gradient(circle, rgba(118, 241, 255, 0.662), transparent 70%);
filter: blur(160px);
z-index: -1;
}

*/