/* Global CSS: index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}